

.chat{
  width: 60vw;
  height: 10vh;
  background: #D3ACD4;
}

.containerInput{
  position: fixed;
  width: 60vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
}

input{
  height: 4vh;
  border: none;
  border-radius: 10px;
  margin: 1vh 1vw;
}

.input{width: 8vw;}
.inputMsg{width: 40vw;}